/* Universal design */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* shared style */
.btn-primary{
    border-radius: 8px;
    background-color: #E55473;
    border: 0;
    padding: 18px 35px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.text-color{
    color: #E55473;
}

/* header section design start */
.header-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.heading-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.heading-para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px;
}
.text-container{
   /* margin: 0px 40px; */
}
.banner-img{
    position: absolute;
    right: 10px;
    bottom: 0px;
    margin-right: 50px;
    width: 575px;
    height: 695px;
}
/* heading section design ends */

/* flower section design start */
main{
    margin: auto;
}
.flower-container{
    margin-top: 80px;
}
.about-feature{
    text-align: center;
    padding: 10px;
}
.feature-deatils{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.feature-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0px;
}
.flower-box-container{
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flower-box{
    position: relative;
    width: 364px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}
.second-flower{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
}
.third-flower{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
}
.text-anchor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.text-anchor a{
    display: block;
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
.flower-img img{
    width: 300px;
    height: 418px;
    position: absolute;
    right: 35px;
    bottom: 0px;
}
/* deal section starts */
.deal-section{
    width: 100vw;
    height: 60vh;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
}
.deal-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.deal-img{
    width: 318px;
    height: 420px;
}
.content{
    text-align: center;
}
.content-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.content-para{
    color: rgba(39, 39, 39, 0.60);
    /* text-align: center; */
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
/* support section design starts*/

.support-section{
    width: 100vw;
    height: 40vh;
    margin-top: 90px;
    margin-bottom: 30px;
}
.support-container{
    /* background-color: #111010; */
    width: 70vw;
    height: 35vh;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.support-container img{
    width: 60px;
    height: 60px;
}
.support-para{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}
/* support section design end */

/* instagram flower style design */
.instagram-flower{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.instagram-pic{
    width: 300px;
    height: 354px;
}

/* latest container design */
.latest-container{
    width: 75vw;
    height: 45vh;
    margin: auto;
    margin-bottom: 70px;
    text-align: center;
    background-image: url("../Rectangle9.png");
}
.latest-text-container{
   padding: 90px;
}
.latest-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.latest-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
}
.input-form{
    padding:18px 150px ;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}
/* footer section design starts */
footer{
    width: 100vw;
    height: 35vh;
    background-color: #111010;
    text-align: center;
    /* margin: auto; */
    padding-top: 100px;
}
.footer-container{
    /* text-align: center; */
}
.footer-title{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
.footer-para{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0px;
}
.copy-right{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
/* bonus section starts */
.bonus-container{
    margin: 90px 0px;
    /* position: relative; */
}
.bonus-area{
    width: 80vw;
    height: 30vh;
    /* background-color: aquamarine; */
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    background-image: url("/bonus-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    padding-top: 70px;
    padding-right: 200px;
}
.bonus-headings{
    color: #272727;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}
