/* Universal design */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* shared style */
.btn-primary{
    border-radius: 8px;
    background-color: #E55473;
    border: 0;
    padding: 18px 35px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

/* header section design start */
.header-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.heading-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.heading-para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px;
}
.text-container{
   /* margin: 0px 40px; */
}
.banner-img{
    position: absolute;
    right: 10px;
    bottom: 0px;
    margin-right: 50px;
    width: 575px;
    height: 695px;
}
/* heading section design ends */

/* flower section design start */
main{
    margin: auto;
}
.flower-container{
    margin-top: 80px;
}
.about-feature{
    text-align: center;
    padding: 10px;
}
.feature-deatils{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.feature-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 5px;
}