/* Universal design */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* shared style */
.btn-primary{
    border-radius: 8px;
    background-color: #E55473;
    border: 0;
    padding: 18px 35px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.text-color{
    color: #E55473;
}

/* header section design start */
.header-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.heading-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.heading-para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px;
}
.text-container{
   /* margin: 0px 40px; */
}
.banner-img{
    position: absolute;
    right: 10px;
    bottom: 0px;
    margin-right: 50px;
    width: 575px;
    height: 695px;
}
/* heading section design ends */

/* flower section design start */
main{
    margin: auto;
}
.flower-container{
    margin-top: 80px;
}
.about-feature{
    text-align: center;
    padding: 10px;
}
.feature-deatils{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.feature-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 5px;
}
.flower-box-container{
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flower-box{
    position: relative;
    width: 364px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}
.second-flower{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
}
.third-flower{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
}
.text-anchor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.text-anchor a{
    display: block;
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
.flower-img img{
    width: 300px;
    height: 418px;
    position: absolute;
    right: 35px;
    bottom: 0px;
}
/* deal section starts */
.deal-section{
    width: 100vw;
    height: 60vh;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
}
.deal-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.deal-img{
    width: 318px;
    height: 420px;
}
.left-deal-part{

}
.right-deal-part{

}
.content{
    text-align: center;
}
.content-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.content-para{
    color: rgba(39, 39, 39, 0.60);
    /* text-align: center; */
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}